<html>
    {% extends 'base.html'%}
{% block content%}

 <p>
   {% for i in allproduct%}
 
    {{i.title}}<br>
  {{i.description}}<br>
  {{i.price}}<br>
 <img src="{{i.image.url}}" class="img-fluid"  style="height: 200px; object-fit: cover">
  <br>
 
     {% endfor%}
   <br>
  </p>
{% endblock%}

</html>