<html>
    {% extends 'base.html'%}
{% block content%}
   <form method='POST' enctype='multipart/form-data'> {% csrf_token%}
   {{ form.as_p }}
   <input type='submit' values='Save'/>
   
   </form>
{% endblock%}

</html>